html, body {
	font-family: 'Arial', serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

img {max-width: 600px; height: auto;}

img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}

.header {
	background: #7FFFD4;
	height: 90px;
}

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 90px;
	height: 90px;
}

ul.main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 90px;
	color: #fdc073;
	font-size: 30px;
	overflow: hidden;
}
ul.main-menu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.main-menu li.logo {margin: 0;}
ul.main-menu li.last {float: right;}

ul.main-menu li a {
	color: #0000FF;
	text-decoration: none;
}
ul.main-menu li a:hover {
	color: #191970;
}

.panel-items {
	text-align: center;
}
